body{
background-color: #c4d5f2;
}

.error{
font-size:60px;
}

.error-msg{
font-size:50px;
color: red;
}

span{
font-size: 40px;
color: red;
}

h3{
font-size: 30px;
color: blue;
}

input{
font-size: 30px;
color: green;
}