<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <meta charset="UTF-8">
    <title>Upload Image</title>
</head>
<body>
<form enctype="multipart/form-data" method="post" action="/predict">
    <center>
    <h3>Select CIFAR100 image to predict its label.</h3>
    <form action = "http://localhost:5000" method = "POST" 
         enctype = "multipart/form-data">
        <label for="models">Choose a model:</label>
        <select name="models" id="models">
        <option value="baseline">baseline</option>
        <option value="VGG16">VGG16</option>
        </select>
    </form> 
    <form action = "http://localhost:5000" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
    </form> 
    <h1>{{ result }}</h1>
    <hr>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Prediction</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.id}}</td>
                <td>{{ entry.label }}</td>
                <td>{{ entry.predicted_on.strftime("%d %b %y %H:%M")}}</td>
                <td>
                    <form name="frmRemoveEntry" action="/remove" method="post"
                    novalidate>
                    <input type="hidden" name="id" value="{{entry.id}}">
                    <input type="submit" class="form-control btn-danger"
                    value="Remove">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </center>
</form>
</body>
</html>